.servers {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;

    .server {

        padding: 15px;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
        display: flex;
        min-width: 275px;
        margin: 15px;

        @media screen and (max-width: 280px) {
            min-width: 225px;
            margin: 5px 0;
        }

        &-icon {

            padding-right: 10px;
            width: 50px;
            height: 50px

        }

        &-description {
            width: 100%;
            display: flex;

            @media screen and (max-width: 280px) {
                flex-wrap: wrap-reverse;
            }

        }

        &-informations {

            display: flex;
            flex-direction: column;
            justify-content: center;

            &-name {
                font-size: 1.1em;
            }

            &-ip {
                font-size: 0.8em;
            }

        }

        &-ip {

            margin-left: auto;
            margin-right: 0;

        }

    }

}
