.stats {

    &-header {

        background: white;
        height: 100px;
        box-shadow: rgba(149, 157, 165, 0.3) 0 8px 24px;
        display: flex;
        align-items: center;

        &-content {
            display: flex;
        }

        .header-name {
            display: flex;
            flex-direction: column;

            &-name {
                font-size: 1.3em;
            }

            &-ip {
                font-size: 0.8em;
                text-transform: uppercase;
                color: #2d2d36;
            }

        }

        .header-online {

            margin-left: auto;
            margin-right: 0;

            display: flex;
            flex-direction: column;
            align-items: end;

            &-top {
                font-size: 1.3em;
            }

            &-bottom {
                font-size: 0.8em;
            }
        }
    }

    .card {

        margin-top: 25px;
        box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

        &-title {
            padding: 15px;
            display: flex;
            justify-content: center;
            font-size: 1.1em;
            font-weight: bold;
        }

        &-stats-loader {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .global-stats {
            height: 515px;
        }

    }

}
