/* RESET CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td, span {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

fieldset, img {
    border: 0;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


/* BASE CSS
 * --------------------------------------- */

body {
    background-color: white;
    color: black;
    font-size: 16px;
    letter-spacing: 1.1px;
    overflow-x: hidden;
    font-family: "Inter", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
}
